* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #0e37a8, #0f9fca);
    background-attachment: fixed;
}